$color-primary: #13D19C;
$color-secondary: #FFC822;
$color-primary-hover: #00c38a;
$color-secondary-hover: #ebcc21;

$color-background: #111724;
$color-darkbg: #090e18;
$color-border: rgba(19, 209, 156, 0.2);

$color-black: #000;
$color-white: #FFF;

$color-lightgray: rgba(255, 255, 255, 0.3);
$color-disabled: #888;

$gradient-background: linear-gradient(180deg, #131720 0%, #12151b 100%);
$gradient-hover: linear-gradient(180deg, #15d6a0 0%, #0ac18e 100%);

$color-success: rgb(0, 182, 39);
