.owl-carousel .owl-wrapper::after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.owl-carousel .owl-wrapper { display: none; position: relative; }
.owl-carousel .owl-wrapper-outer.autoHeight { transition: height 500ms ease-in-out 0s; }
.owl-carousel .owl-item {float: left;}
.owl-controls { -moz-user-select: none; }
.grabbing { cursor: url("grabbing.png") 8 8, move; }
.owl-carousel .owl-wrapper, .owl-carousel .owl-item { backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); }
#owl-example .item { border-radius: 3px; margin: 10px; padding: 30px 0; text-align: center; }
#owl-example .item img { display: block; margin: 0 auto; width: auto; }
#owl-example .item h3 { font-size: 28px; font-weight: 300; margin: 25px 0 0; }
#owl-example .item h1 { font-size: 23px; }
#owl-example .item .font40 { font-size: 40px; }
.owl-item .slidewrap { padding-top: 60px; width: 100%; float: left; height: 83px;}
.slidewrap { padding-top: 10px; padding-left: 15px; width: 100%; float: left; height: 90px;}
.owl-carousel .item h1 { color: #0c2e61 !important; float: left; font-size: 28px; width: 100%;text-align: center;font-family: "daxlinebold"}
.owl-carousel .item h2 { color: #0c2e61 !important; float: left; font-size: 27px; font-weight: bold;width: 100%;text-align: center;     margin-top: 15px;font-family: "daxlinebold"}
.owl-carousel .item h3 { color: #0c2e61 !important; float: left; font-size: 14px;width: 100%;text-align: center; }
.lname { font-weight: 700; text-align: left; }
.lname3 { text-align: left; display: none;}
.lname2 span { font-size: 17px; }
.item .font40 { color: #242527; font-family: "open_sansbold"; font-size: 35px; }
#owl-lottery-list .item { margin: 3px; }
#owl-lottery-list .item:hover { background-color: #f5f5f5; box-shadow: 0 6px 6px 0 rgba(50, 50, 50, 0.18); }
.item_img { float: left; margin-top: 30px; text-align: left; width: 28%; }
.owl-carousel .item_img img { width: 80px;position: absolute;top: 20px;bottom: 170px;left: 0;right: 0;margin: auto;}
.item .buy_button { background: #5082c8; color: #fff;font-size: 13px; font-family: 'Robotomedium'; text-transform: none; width: 85%; border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border: 0px solid #000000; margin-left: 20px; text-align: center;}
.item:hover .buy_button { background: #0c2e61; }
.owl-carousel .owl-nav { display: flex; }
.owl-carousel .owl-nav button { position: relative; width: 100%; top: -170px; }
.owl-carousel .owl-nav button .owl-prev { background-image: url("../images/left_arrow.png"); background-position: left center; background-repeat: no-repeat; cursor: pointer; float: left; width: 50px; height: 50px; background-color: transparent; }
.owl-carousel .owl-nav button .owl-next { background-image: url("../images/right_arrow.png"); background-position: right center; background-repeat: no-repeat; cursor: pointer; float: right; width: 50px; height: 50px; background-color: transparent; }
.row { margin-left: 0; }
.row::before, .row::after { content: ""; display: table; line-height: 0; }
.row::after { clear: both; }
[class*="span"] { float: left; min-height: 1px; }
.span12 { width: 1000px; }
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] { }
[class^="icon-"], [class*=" icon-"] { background-position: 14px 14px; background-repeat: no-repeat; display: inline-block; height: 26px; line-height: 26px; margin-top: 4px; vertical-align: text-top; width: 25px; }
.icon-chevron-left { background-position: left top; }
.icon-chevron-right { background-position: right top; }

.carousel-no-blur .owl-wrapper-outer:before,
.carousel-no-blur .owl-wrapper-outer:after {
    display: none;
}

@media (min-width:1200px) {
    .row { }
    .row::before, .row::after { content: ""; display: table; line-height: 0; }
    .row::after { clear: both; }
    [class*="span"] { float: left; margin-left: 0; min-height: 1px; }
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 1000px; }
    .span12 { width: 1000px; }
    .controls-row [class*="span"] + [class*="span"] { margin-left: 30px; }
}
@media (min-width:981px) and (max-width:1024px) {
    .owl-theme .owl-controls .owl-buttons .owl-next { right: 20px; }
    .owl-theme .owl-controls .owl-buttons .owl-prev { left: 20px; }
}
@media (min-width:768px) and (max-width:980px) {
    .row { margin-left: 0px; }
    .row::before, .row::after { content: ""; display: table; line-height: 0; }
    .row::after { clear: both; }
    [class*="span"] { float: left;    /*margin-left: 20px;*/ min-height: 1px; }
    .span12 { width: 100%; }
    #owl-lottery-list .item { width: 90%; }
    .owl-theme .owl-controls .owl-buttons .owl-next { right: 20px; }
    .owl-theme .owl-controls .owl-buttons .owl-prev { left: 20px; }
    .slider_bg { background-size: cover; }
}
@media (min-width:641px) and (max-width:767px) {
    .span12 { width: 100%; }
    #owl-lottery-list .item { width: 90%; }

    /*.owl-theme .owl-controls .owl-buttons .owl-next { right:20px;}
    .owl-theme .owl-controls .owl-buttons .owl-prev { left:20px;}*/
    .owl-theme .owl-controls .owl-buttons .owl-next { display: none; }
    .owl-theme .owl-controls .owl-buttons .owl-prev { display: none; }
    .slider_bg { background-size: cover; }
}
@media (min-width:481px) and (max-width:640px) {
    .span12 { width: 100%; }
    #owl-lottery-list .item { width: 90%; margin: 5%; }
    .owl-theme .owl-controls .owl-buttons .owl-next { display: none; }
    .owl-theme .owl-controls .owl-buttons .owl-prev { display: none; }
    .slider_bg { background-size: cover; }
    .owl-item { padding-right: 0px; }
}
@media (min-width:376px) and (max-width:480px) {
    .span12 { width: 100%; }
    #owl-lottery-list .item { width: 90%; margin: 5%; }
    .owl-theme .owl-controls .owl-buttons .owl-next { display: none; }
    .owl-theme .owl-controls .owl-buttons .owl-prev { display: none; }
    .slider_bg { background-size: cover; }
    .owl-item { padding-right: 0px; }
}
@media (max-width:375px) {
    .span12 { width: 100%; }
    #owl-lottery-list .item { width: 90%; margin: 5%; }
    .owl-theme .owl-controls .owl-buttons .owl-next { display: none; }
    .owl-theme .owl-controls .owl-buttons .owl-prev { display: none; }
    .slider_bg { background-size: cover; }
    .owl-item { padding-right: 0px; }
}
