html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	position: relative;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a.disabled {
	pointer-events: none;
	color: #ccc;
	cursor: default;
}

.whole {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111724;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

#main {
	margin-top: 64px;
	margin-bottom: 64px;
	padding: 0px;

	& p {
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 26px;
		color: #ffffff;
		font-family: "Gilroy-Regular";
	}
}

.points_box:before,
.points_box p:after,
.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix {
	zoom: 1;
	/* IE < 8 */

	&:after {
		clear: both;
	}
}

a img {
	border: 0;
}

img {
	vertical-align: middle;
}

// header css
#header {
	background: linear-gradient(180deg, rgba(10, 12, 17, 0.12) 0%, rgba(19, 23, 32, 0.36) 100%);
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 2;

	& .menu {
		display: block;
		width: 100%;
		position: fixed;
		height: 64px;
		background: linear-gradient(180deg, #111724 0%, #090e18 100%);

		& .left_menu {
			display: inline-flex;
			align-self: center;
			height: 100%;

			& a.logo {
				padding: 0 15px;
				align-self: center;

				&:hover {
					color: #fff;
				}
			}

			@media screen and (max-width: 1373px) and (min-width: 990px) {
				& a.logo {
					padding: 0 10px;
				}
			}

			& > ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: flex;
				align-items: center;

				& li {
					display: block;
					border-bottom: 3px solid transparent;

					&:hover {
						background-color: #000;
						border-bottom: 3px solid #00c38a;
					}
				}

				& li a {
					font-family: Gilroy-bold;
					transition: 0.3s;
					line-height: 50px;
					height: 47px;
					color: #fff;
					padding: 0 8px;
					font-size: 14px;
					vertical-align: middle;
					display: inline-block;

					& .arrowsvg {
						stroke: #fff;
						transition: 0.3s;
					}

					&:hover {
						color: #fff;
						transition: 0.3s;

						& .arrowsvg {
							stroke: #00c38a;
							transition: 0.3s;
						}
					}
				}
			}
		}

		& .right_menu {
			float: right;
			display: block;
			height: 100%;

			& .login-register {
				margin: 0px 15px;
				padding: 24px 0;
				height: 100%;

				& a.signin {
					background: linear-gradient(180deg, #131720 0%, #12151b 100%);
					box-shadow: 0px 2px 4px #000000, inset 0px 0.51px 0px rgba(255, 255, 255, 0.3);
					border-radius: 3px;
					background: none !important;
					border: 0;
					color: #fff;
					padding: 10px 5px;
					transition: 0.8s;
					font-family: Gilroy-Bold;
					font-size: 14px;
					line-height: 15px;
				}

				& a.register {
					background: linear-gradient(180deg, #131720 0%, #12151b 100%);
					box-shadow: 0px 2px 4px #000000, inset 0px 0.51px 0px rgba(255, 255, 255, 0.3);
					border-radius: 3px;
					background: none !important;
					border: 0;
					color: #fff;
					padding: 10px 5px;
					margin-left: 5px;
					transition: 0.8s;
					font-family: Gilroy-Bold;
					font-size: 13px;
					line-height: 15px;
				}

				& a:hover {
					background: linear-gradient(180deg, #15d6a0 0%, #0ac18e 100%) !important;
					box-shadow: 0px 2px 4px #000000, inset 0px 0.51px 0px #ffffff;
					border-radius: 3px;
					transition: 0.8s;
				}

				& a img {
					padding: 0 10px;
				}
			}

			// dropdown-item
			& .rsm-dropdown {
				position: relative;
				display: inline-block;

				& .rsm-dropdown-box {
					background-color: transparent;
					color: #ccc;
					padding: 8px;
					font-size: 16px;
					display: flex;
					border: none;
					cursor: pointer;

					& .rsm-avatar {
						width: 48px;
						height: 48px;
						border-radius: 50%;
						background-color: dodgerblue;
						font-size: 24px;
						line-height: 2;
						text-align: center;
						color: tomato;

						& ~ div {
							display: flex;
							flex-direction: column;
							margin-left: 8px;
							line-height: 24px;
							font-size: 16px;
							font-weight: 500;

							& .rsm-account-balance {
								& span:not(:first-child) {
									margin-left: 8px;
									border-left: 1px solid #333;
									padding-left: 8px;
								}
							}
						}
					}
				}

				& .rsm-dropdown-content {
					display: none;
					position: absolute;
					left: 0;
					background: #090e18;
					min-width: 240px;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;

					& a {
						color: #ccc;
						padding: 12px 16px;
						text-decoration: none;
						display: block;

						& i {
							margin-right: 8px;
						}

						&:hover {
							background-color: #111724 !important;
						}
					}
				}

				&:hover .rsm-dropdown-content {
					display: block;
				}
			}
		}
	}

	& .header-title-main {
		font-family: Montserrat, sans-serif;
		font-weight: 700;
		letter-spacing: -2px;
		font-size: 22px;
		vertical-align: middle;
	}
}

.has-child {
	position: relative;

	& .submenu {
		position: absolute;
		top: 47px;
		left: -10px;
		display: none;
		background: linear-gradient(180deg, rgba(10, 12, 17, 0.12) 0%, rgba(19, 23, 32, 0.36) 100%);
		z-index: 55;
		min-width: 170px;
		background: #111724;

		& li {
			padding: 10px 0;
			display: block;
		}
	}

	&:hover .submenu {
		display: block;
	}
}

.header-bitcoin-values {
	display: flex;
	align-items: center;

	& .link {
		line-height: 64px;

		&:hover .header-bitcoin-values-item .title,
		&:hover .header-bitcoin-values-item .value {
			color: #00c38a;
			transition: 0.3s;
		}
	}

	& .header-bitcoin-values-buy {
		margin-left: 10px;
		background: #13d19c;
		border-radius: 4px;
		padding: 8px 15px;
		color: #fff;
		font-family: "Gilroy-Bold";
		font-size: 16px;
		height: unset;

		&:hover {
			background: #13d19cc9;
			transition: 0.3s;
		}
	}
}

.new_header_mobile_menu {
	& .header-bitcoin-values {
		& .link {
			width: 45% !important;
			display: flex;
			justify-content: center;
		}

		& .header-bitcoin-values-item > div {
			display: flex;
			align-items: center;
			flex-direction: row !important;
			margin-right: 4px;

			& .title,
			& .value {
				margin-left: 4px;
				line-height: 64px !important;
			}
		}
	}
}

.header-bitcoin-values-item {
	display: flex;
	margin-left: 20px;

	& > div {
		display: flex;
		margin-right: 4px;

		&:last-child {
			flex-direction: column;
			margin-right: 0;
		}
	}

	& .title,
	& .value {
		color: white;
		font-size: 14px;
	}

	& .title {
		color: white;
		font-family: Gilroy-Regular;
		line-height: 16px;
	}

	& .value {
		font-family: Gilroy-Bold;
		line-height: 14px;
	}
}

#middle_home {
	& .playgroup-result {
		& .play-in-group-section > h1 {
			font-size: 30px;
			color: #fff;
			line-height: 40px;
			margin-bottom: 40px;
		}
	}
}

.lotterydetail {
	& form {
		width: 100%;
	}
}

@media screen and (max-width: 1180px) {
	#header .menu {
		display: none;
	}

	#header .new_header_mobile_menu {
		position: relative;
		height: 60px;
		background: #111724;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100% !important;
		padding: 0 20px;
		width: 100% !important;
		box-sizing: border-box;

		& .new_header_menu_logo {
			max-width: 200px;
		}

		& .new_header_menu_logo img {
			width: 100%;
			height: auto;
		}

		& .mobile-trigger {
			display: inline-block;
			vertical-align: middle;
			width: 37px;
			height: 34px;
			padding: 10px 11px;
			background: #191c25;
			border-radius: 3px;
			box-sizing: border-box;
			-ms-transform: translateY(0);
			-webkit-transform: translateY(0);
			transform: translateY(0);
			margin-top: 0 !important;
		}

		& #menu-container {
			position: absolute;
			top: 100%;
			left: 0;
			height: 0;
			overflow: hidden;
			width: 100%;
			background: #111724;
			transition: ease-in-out 0.5s;

			& > ul > li:hover:not(:last-child) {
				background-color: #00c38a;
			}

			& li.has-child > ul > li:hover {
				background-color: #090e18;
			}
		}

		& #menu-container li.has-child.mobile-menu {
			display: flex;
			flex-direction: column;
		}

		& #menu-container li.has-child.mobile-menu .submenu {
			position: relative;
			top: unset;
			left: unset;
			padding: 0 0 0 10px;
		}

		& #menu-container li .button {
			background: transparent;
			color: #fff;
			transition: 0.8s;
			font-family: Gilroy-Bold;
			line-height: 15px;
		}

		& #menu-container li .button img {
			margin-right: 10px;
		}

		& .wrap-top-menu {
			position: relative !important;
			background: transparent;
			z-index: 999999;
			width: 100% !important;
			float: unset;
			right: unset !important;
			top: unset !important;
			height: 100%;
		}

		& #menu-container button,
		& .wrap-top-menu li {
			width: 100%;
			font-size: 16px;
			font-family: "Gilroy-Regular";
			color: white;
			box-sizing: border-box;
			display: flex;
		}

		li.has-child.mobile-menu.active .submenu {
			display: unset !important;
		}

		& .wrap-top-menu li:hover button,
		& .wrap-top-menu li:not(.has-child.mobile-menu):not(.header_mobile_menu_bitcoin_values_part):hover a {
			background: #00c38a;
		}

		& .wrap-top-menu li.header_mobile_menu_bitcoin_values_part .header-bitcoin-values {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			box-sizing: border-box;
			padding: 30px 20px;
		}

		& .wrap-top-menu li.header_mobile_menu_bitcoin_values_part .header-bitcoin-values-item {
			margin-left: 0;
		}

		& .wrap-top-menu li.header_mobile_menu_bitcoin_values_part .header-bitcoin-values-link {
			width: 48%;
			display: flex;
			justify-content: center;
		}

		& .wrap-top-menu li.header_mobile_menu_bitcoin_values_part .header-bitcoin-values-buy {
			margin: 0 auto !important;
			text-align: center;
		}

		& .wrap-top-menu li:hover button {
			margin: 0 20px 20px 20px !important;
		}

		& .wrap-top-menu li a {
			width: 100%;
			padding: 20px;
			font-size: 16px;
			font-family: "Gilroy-Regular";
			color: white;
			box-sizing: border-box;
		}
	}

	#header.show-nav .wrap.new_header_mobile_menu #menu-container {
		height: 1100px;
		transition: ease-in-out 0.8s;
	}

	.lotterydetail .cardlist .tabin_main_select {
		flex-direction: column;
	}

	.lotterydetail {
		& .select_num_part_wrapper,
		& .lt_numbers_wrapper {
			grid-template-columns: repeat(9, 1fr);
		}

		& .select_num_col {
			padding: 0;
		}

		& .beton-header {
			height: auto;
		}

		& .lotto-timer table > tbody > tr > td {
			display: table-cell;
			& > div {
				justify-content: center;
			}
		}

		& .beton-header-mobile-section {
			padding: 10px;
		}
	}
}

.submit {
	text-align: center;
	padding: 8px;
	border-radius: 4px;
	width: 100% !important;
	border: 1px solid #00c38a;
	background-color: #00c38a;

	&:disabled {
		border: 1px solid #999999;
		background-color: #999999;

		&:hover {
			border: 1px solid #999999;
			background-color: #999999;
		}
	}

	&:hover {
		background-color: #00d696;
		transition: ease-in-out 0.3s;
	}
}

.error-msg {
	padding: 0 16px;
	font-weight: 400;
	font-size: 12px;
	color: red;
	text-align: center;
	width: 100%;
}

.success-msg {
	padding: 0 16px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(0, 182, 39);
	text-align: center;
	width: 100%;
}

/* cart page */
.cart-wrapper {
	font-family: Gilroy-Bold;

	& .cart-page {
		& .cart-static {
			font-size: 12px;
			text-transform: uppercase;
			width: 100%;
			color: #0169b2;
			line-height: 25px;
			font-weight: bolder;
			display: flex;

			& .part1 {
				width: 56%;
			}
			& .part2,
			& .part3,
			& .part4,
			& .part5 {
				width: 10%;
			}

			& > span {
				font-size: 24px;
				color: #ffffff;
				padding: 1%;
			}
		}

		@media screen and (max-width: 1024px) {
			& .cart-static {
				& .part1 {
					width: 45%;
				}
				& .part2,
				& .part3,
				& .part4 {
					width: 15%;
				}

				& > span {
					font-size: 16px;
					color: #ffffff;
					padding: 1%;
				}
			}
		}

		& .products {
			background: linear-gradient(180deg, #111724 0%, #090e18 100%);
			box-shadow: 0px 2px 4px #000000, inset 0px 0.51px 0px rgb(255 255 255 / 30%);
			border-radius: 3px;
			margin-bottom: 15px;
			border: none;
			margin-bottom: 18px;
			padding: 16px;

			& .product {
				display: flex;
				& .product-title {
					display: flex;
					width: 56%;

					& .product-cover {
						margin-right: 48px;

						& .cover {
							margin-left: 5px;
							background-image: url("/images/logos/logos-sprite.png");
							background-size: 500% 400%;
							position: relative;
							top: 3px;
							width: 70px;
							height: 70px;
						}

						.cover.MegaMillions {
							background-position: 0px -696px;
						}

						.cover.MegaJackpot {
							background-position: 0px -770px;
						}

						.cover.Lotto649 {
							background-position: 138px 0px;
						}
						.cover.OzLotto {
							background-position: 0px 213px;
						}

						.cover.ElGordo {
							background-position: 419px 214px;
						}

						.cover.SuperEnalotto {
							background-position: 70px 143px;
						}

						.cover.SuperEnalotto {
							margin-left: -10px;
						}

						.cover.UkLotto {
							background-position: 70px 0px;
							/*    margin-left: 15px;*/
						}

						.cover.BTCPowerPlay {
							background-position: -75px 72px;
						}

						.cover.EuroMillions {
							background-position: 210px 0px;
						}

						.cover.NewYorkLotto {
							/*margin-left:11px;*/
							background-position: -420px 0px;
						}

						.cover.LaPrimitiva {
							background-position: -68px 214px;
						}

						.cover.PowerBall {
							background-position: 0px 0px;
							margin-left: 0px;
						}

						.cover.BonoLoto {
							background-position: 140px 142px;
						}
					}

					& .product-name {
						display: flex;
						justify-content: center;
						align-items: center;
						& span {
							font-size: 18px;
							color: #ffffff;
						}
					}
				}

				& .lines,
				& .draws,
				& .price {
					font-size: 18px;
					color: #fff;
					width: 10%;
					height: 30px;
					text-align: left;
					padding: 0 24px;
					line-height: 70px;
				}

				& .price {
					font-size: 22px;
					color: #00c38a;
					text-shadow: 0px 6px 16px rgb(19 209 156 / 35%);
				}
			}

			@media screen and (max-width: 1024px) {
				& .product {
					& .product-title {
						width: 45%;
					}
					& .lines,
					& .draws,
					& .price {
						width: 15%;
					}

					& > span {
						font-size: 16px;
						color: #ffffff;
						padding: 1%;
					}
				}
			}

			@media screen and (max-width: 648px) {
				& .product {
					& .product-title {
						width: 45%;
						& .product-cover {
							display: none;
						}
					}

					& .lines,
					& .draws,
					& .price {
						line-height: 30px;
					}
				}
			}
		}
	}

	& .cart-total {
		display: flex;
		align-items: center;
		padding: 16px 0;

		& .holder {
			width: 66%;
		}
		& .label,
		& .value {
			margin: 0 16px;
		}

		& .label {
			font-size: 22px;
			color: #ffffff;
		}

		& .value {
			color: #00c38a;
			font-size: 28px;
		}

		@media screen and (max-width: 1024px) {
			& .holder {
				width: 56%;
			}
		}

		@media screen and (max-width: 648px) {
			justify-content: center;
			padding: 16px 20%;

			& .holder {
				display: none;
			}
		}
	}

	& .cart-actions {
		display: flex;
		padding: 24px;
		align-items: center;
		height: 96px;

		& .title {
			flex-grow: 1;
			font-size: 22px;
			color: #ffffff;
		}

		& .ticker-select {
			width: 12%;
			min-width: 120px;

			& select {
				padding: 10px;
				width: 100%;

				&:after {
					content: "";
					position: absolute;
					background: "/images/select-arrow.png" no-repeat;
					right: 10px;
					top: 15px;
					background-size: contain;
					width: 10px;
					height: 22px;
				}

				&:focus {
					border: 1px solid #00c38a;
					box-sizing: border-box;
					box-shadow: 0px 0px 4px rgb(19 209 156 / 45%);
					border-radius: 8px;
				}
			}
		}

		& .action {
			margin-left: 32px;

			& > input {
				background: #13d19c;
				border-radius: 4px;
				border: none;
				font-size: 18px;
				color: #ffffff;
				padding: 16px 32px;
				width: 100%;
				max-width: 100%;
				height: auto;
				margin: 0;
			}
		}

		@media screen and (max-width: 648px) {
			flex-wrap: wrap;
			justify-content: space-between;
			& .title {
				flex-grow: 0;
				width: 45%;
			}

			& .ticker-select {
				width: 45%;
			}
			& .action {
				margin: 0;
				margin-top: 16px;
				width: 100% !important;
			}
		}
	}
}

// my account page
.wrap-my-account {
	padding: 0px 0 40px;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	font-family: Gilroy-Bold;

	& .my-account-title > h1 {
		font-size: 32px;
		margin-bottom: 32px;
	}

	& .my-account-contents {
		& .tab-bar-container {
			display: flex;

			& ul.tab-bar {
				display: inline-block;

				& li {
					background: linear-gradient(180deg, #111724 0%, #090e18 100%);
					box-shadow: 0px 2px 4px #000000, inset 0px 0.51px 0px rgb(255 255 255 / 30%);
					border-radius: 3px;
					padding: 8px;
					margin-right: 16px;
					display: inline-block;

					& a {
						font-size: 18px;
						color: #fff;
						text-shadow: 0px 4px 8px rgb(19 209 156 / 15%);
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						display: flex;
						text-decoration: none;
						flex-direction: column;
						width: 112px;
						height: 96px;

						&.active {
							color: #00c38a !important;
						}

						& > i {
							width: 55px;
							height: 55px;
							margin-top: 8px;
							margin-bottom: 8px;
							display: block;
							background-size: contain;

							&.transactions {
								background-image: url(/images/ico_tranzactions.svg);
							}

							&.tickets {
								background-image: url(/images/ico_tickets.svg);
							}

							&.products {
								background-image: url(/images/ico_products.svg);
							}
						}
					}
				}
			}

			& .actions-bar {
				display: inline-block;

				& .winning {
					& span {
						font-size: 20px;
						line-height: 32px;
						margin: 8px;
						margin-left: 16px;
						display: inline-block;
						&.money {
							color: #00c38a;
						}
					}
				}

				& .buttons {
					& .button {
						margin: 5px;
						background: #13d19c;
						border-radius: 4px;
						padding: 8px 16px;
						text-align: center;
						color: #fff;
						font-family: "Gilroy-Bold";
						text-decoration: none;
						font-size: 16px;
						min-width: 120px;
						display: inline-block;
						margin-left: 16px;
					}
				}
			}

			@media screen and (max-width: 960px) {
				display: block;
				justify-content: space-between;
				padding: 16px;

				& ul.tab-bar,
				& .actions-bar {
					display: flex;
					justify-content: space-between;
				}

				& ul.tab-bar {
					padding: 0;
				}
				& .actions-bar {
					margin: 24px 24px 24px 0;
				}
			}

			@media screen and (max-width: 640px) {
				padding: 0;

				& ul.tab-bar {
					padding: 0;

					& li {
						margin: 0;
						& a {
							max-width: 96px;
						}
					}
				}

				& .actions-bar {
					flex-wrap: wrap;
					margin: 24px 0;

					& .winning,
					& .buttons {
						width: 100%;
						justify-content: center;
						display: flex;
					}

					& .buttons .button {
						width: 45%;
					}
				}
			}
		}

		& .tab-page {
			& .account-form {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 16px 0;

				& > div.wrapper {
					width: 48%;
					display: flex;
					align-items: center;
					margin: 16px 0;

					& label {
						width: 30%;
						text-align: right;
						line-height: 1.6;
						font-size: 18px;
					}

					& > input,
					& > select {
						width: 65%;
						margin-left: 16px;
						flex: 1;
						align-self: stretch;
						min-width: 360px;
						height: 48px;
						border: 1px solid #ffffff;
						box-sizing: border-box;
						box-shadow: 0px 4px 8px rgb(255 255 255 / 15%);
						border-radius: 8px;
						background-color: #111724;
						color: #fff;
						padding: 5px 15px;

						&:focus {
							border: 1px solid #00c38a;
						}
					}
				}

				& .actions {
					display: flex;
					width: 100%;
					justify-content: flex-end;
					padding: 16px 0;

					&.left {
						justify-content: flex-start;
					}

					& .chpwd-button {
						font-family: Gilroy-Bold;
						font-size: 24px;
						color: #00c38a;
						text-shadow: 0px 4px 8px rgb(19 209 156 / 15%);
						cursor: pointer;
					}
				}

				& .update-button {
					background: #13d19c !important;
					border-radius: 4px;
					font-family: Gilroy-Bold;
					font-size: 18px;
					max-width: 315px;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					color: white;
				}
			}

			@media screen and (max-width: 1160px) {
				& .account-form {
					max-width: 640px;
					width: 100%;
					margin: auto;

					& > div.wrapper {
						width: 100%;
					}
				}
			}

			& table {
				border: none;
				border-collapse: collapse;
				overflow: auto;
				margin: 16px 0;
				width: 100%;

				& thead {
					background: linear-gradient(180deg, #111724 0%, #090e18 100%);
					box-shadow: 0px 2px 4px #000000, inset 0px 0.51px 0px rgb(255 255 255 / 30%);
					border-radius: 3px;
					font-weight: normal;
					line-height: 42px;
					color: #fff;

					& th {
						font-family: Gilroy-Bold;
						font-size: 18px;
						color: #ffffff;
						padding-top: 10px;
						padding-bottom: 10px;
						height: 30px;
						text-align: center;
					}
				}

				& .btn_dark-blue {
					background-color: rgb(29, 50, 101) !important;
				}
			}
		}
	}
}

main .about {
	& .main-content h1 {
		font-size: 24px;
		line-height: 42px;
		color: #00c58a;
		font-family: "Gilroy-bold";
		margin-bottom: 40px;

		&:not(:first-child) {
			margin-top: 100px;
		}
	}
}

// terms page
#terms {
	& .terms-header {
		height: 64px;
		font-size: 32px;
		font-weight: 500;
		line-height: 2;
		text-align: center;
		text-transform: uppercase;
		color: white;
	}
}

// spinner
.simple-spinner {
	color: #00c38a;
	font-size: 20;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	text-indent: -9999em;
	-webkit-animation: simple_spinner 1.3s infinite linear;
	animation: simple_spinner 1.3s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	left: calc(50% - 6px);
	top: calc(50% - 6px);
}
@-webkit-keyframes simple_spinner {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em,
			-3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
@keyframes simple_spinner {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em,
			-3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
			-3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em,
			-3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
			-3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
